<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Isaac Board</title>
</head>
<body>
<div style=" margin: 0 auto; width: 1024px;">
  <!-- gnb  -->
  <nav
      style="display: flex; flex-direction: row; justify-content: space-between; height: 44px; background-color: rgb(61, 73, 143); padding: 2px">
    <div>
      <a href="/">메인</a>
    </div>
    <!-- 비로그인 시 -->
    <div style="display: flex;flex-direction: row; gap: 20px">
      <div>
        <a href="/members/register">회원가입</a>
      </div>
      <div>
        <a href="/login">로그인</a>
      </div>
    </div>
    <!-- 로그인 시 -->
    <div style="display: flex;flex-direction: row; gap: 20px">
      <div>
        닉네임
      </div>
      <div>
        로그아웃
      </div>
      <div>
        마이페이지
      </div>
    </div>
  </nav>


</div>
</body>
</html>